x DB_URL=jdbc:mysql://localhost:3306/pracdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=
JWT_TOKEN_EXPIRATION_TIME=3600
JWT_REFRESH_EXPIRATION_TIME=1209600

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET=
AWS_REGION=ap-northeast-2
